<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgiOVF1EM1dwm-OJX9R_UdCLSTptR4S9M</string>
	<key>GCM_SENDER_ID</key>
	<string>1037305692644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kasolkrusade.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kasol-krusade</string>
	<key>STORAGE_BUCKET</key>
	<string>kasol-krusade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037305692644:ios:157645b8599b93dd7787f1</string>
</dict>
</plist>